@keyframes moon {
	from {
		bottom: 100%;
		left: 100%;
		opacity: 0.5;
	}
	to {
		bottom: 86%;
		left: 86%;
		opacity: 1;
	}
}

@keyframes slideText {
	from {
		transform: translateX(-100%);
		opacity: 0;
	}
	to {
		transform: translateX(0%);
		opacity: 1;
	}
}

@keyframes heroThree {
	from {
		transform: scale(0.5);
		opacity: 0.5;
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes hero {
	from {
		left: 100% !important;
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes pulse {
	0% {
		background-color: #d1d5db;
	}
	50% {
		background-color: #e5e7eb;
	}
	100% {
		background-color: #d1d5db;
	}
}
