$yellow: #ffbe2e;
$dark_yellow: #fdbd40;
$dark: #0f0f0f;
$dark_blue: #1d2b36;
$lighter_gray: #ecedf0;
$light_yellow: #fffaf1;
$light_gray: #dedfe1;
$dark_white: #fbfbfb;
$gray: #46484d;
$gray2: #808080;
$gray3: #a3a4a5;
$gray4: #485585;
$gray5: #a3aed0;
$dark_blue_gray_rgba_80: rgba(29, 43, 55, 0.8);
$dark_blue_gray_rgba_40: rgba(29, 43, 55, 0.4);
$green: #8dd473;
$light_green: #adec96;
$light_yellow2: #f9fab0;
$brown: #65460e;
$red: #e53b35;
$red-color: #db3933;
$pink: #faa7b9;
$deep_blue: #1d2b37;
$error_red: #fd0f0f;
$cerulean_blue: #316cf4;
$dark_blue_09: rgba(29, 43, 55, 0.09);
$transparent: #000000c7;
$green2: #42a61e;
$black_text: #46525b;

$mobile_size: 768px;
$mid_size: 1200px;
$sm: 588px;
