@use '../../../styles/global' as *;

.container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
	.item {
		width: 40px;
		height: 40px;
		position: relative;
		border-radius: 50%;
		border: 2px solid $dark;
		overflow: hidden;
		background: black;
		cursor: pointer;
		&:hover {
			transform: scale(1.1);
		}
		img {
			object-fit: cover;
		}
	}
}
