@use '../../../../styles/global.scss' as *;

.container {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  span {
    flex: 1;
    color: white;
    font-weight: 600;
    word-break: break-word;
  }
}