@use '../../styles/global.scss' as *;
@use '../../styles/animations.scss' as *;

.container {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.72);
  padding: 20px;
  border: none;
}
