@use '../../styles/global.scss' as *;
@use '../../styles/animations.scss' as *;

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  & > div {
    width: 100px;
    height: 100px;
    position: relative;
  }
}
