@use '../../styles/global' as *;
@use '../../styles/animations.scss' as *;

.item {
  height: 100%;
  background: gray;
  background-image: url('/gif/cloud_loading.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px;
  &:hover {
    .opacity {
      bottom: 0;
      transition: bottom 1s;
    }
  }
  .opacity {
    width: 100%;
    height: 100%;
    --webkit-backdrop-filter: blur(2.4rem);
    -webkit-backdrop-filter: blur(2.4rem);
    backdrop-filter: blur(2.4rem);
    background: #0f0f0fab;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 2rem #000;
    box-shadow: 0 0 2rem #000;
    bottom: 100%;
    left: 0;
    opacity: 0.91;
    position: absolute;
    -webkit-transition:
      opacity 0.2s ease,
      background-color 0.2s ease;
    transition:
      opacity 0.2s ease,
      background-color 0.2s ease;
    z-index: 1;
    padding: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
    .title {
      text-align: left;
      font-size: clamp(1rem, 8vw, 1.5rem);
      font-weight: bold;
      color: white;
      margin: 0;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      white-space: pre-wrap;
      -webkit-box-orient: vertical;
    }
    .overview,
    .date {
      flex: none;
      font-weight: 500;
      text-align: left;
      font-size: clamp(0.8rem, 8vw, 1rem);
      color: white;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      white-space: pre-wrap;
      -webkit-box-orient: vertical;
    }
    .date {
      background-color: #18191936;
      padding: 6px 0px;
    }
  }
}
.noImage {
  background-image: url('/images/no-image.png');
}
