@use '../../styles/global' as *;

.container {
  width: 90%;
  margin: auto;
  padding: 20px;
  padding-bottom: 40px;

  span {
    font-size: 14px;
    color: $gray3;
  }

  .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    border-top: 1px solid $gray3;
    border-radius: 6px;

    .logo {
      display: flex;
      flex-direction: column;
      gap: 6px;

      &>a {
        display: flex;
        align-items: center;
        gap: 10px;
        flex: none;
        text-align: left;
        font-size: clamp(1.1rem, 4vw, 1.8rem);
        font-weight: bold;
        background: linear-gradient(to left, $green2, $green);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration: none;

        &:hover {
          background: linear-gradient(to left, $green, $green2);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        svg {
          width: 35px;
          height: 35px;
        }
      }

      p {
        color: white;
        font-size: 16px;
        font-weight: 500;
        margin: 0;
      }
    }

    .contact {
      margin-top: 10px;
      display: flex;
      gap: 10px;

      .networks {
        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .moreInfo {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .link {
        font-size: 14px;
        font-weight: 500;
        color: white;
        cursor: pointer;

        &:hover {
          color: rgb(83, 155, 242);
        }
      }

      .phone {
        display: flex;
        align-items: flex-start;
        gap: 10px;

        h6 {
          font-weight: 500;
          color: white;
          font-size: 14px;
          margin: 0;
          display: flex;
          align-items: center;
          gap: 6px;
        }

        div {
          display: flex;
          flex-direction: column;
          gap: 6px;

          span {
            color: $gray3;
            font-size: 14px;
          }
        }
      }
    }
  }
}