@use '../../styles/global' as *;

.container {
	border-radius: 25px;
	padding: 6px;
	display: flex;
	align-items: center;
	background: #80808030;
	overflow: hidden;
	border: 1px solid $gray;
	button {
		height: 100%;
		background: none;
		border: none;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		.search {
			color: white;
			font-size: 20px;
			transform: rotateY(180deg);
			&:hover {
				color: darken($color: white, $amount: 15%);
				scale: (1.1);
			}
		}
	}
	input {
		min-width: 300px;
		width: 100%;
		height: 25px;
		padding: 0px 10px;
		text-align: left;
		font-size: 14px;
		color: white;
		background: transparent;
		border: none;
		&::placeholder {
			text-align: left;
			font-size: clamp(0.5rem, 8vw, 0.8rem);
			color: $gray3;
		}
		&:focus-visible {
			outline: none;
		}
	}
}
