@use '../../../styles/global.scss' as *;

.container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  margin-bottom: 40px;
  // background-color: #000000f1;
  border-radius: 6px;
  @media screen and (max-width: $mid_size) {
    width: 100%;
    padding: 20px;
  }
  h1 {
    font-weight: 600;
    text-align: left;
    font-size: clamp(1rem, 4vw, 1.4rem);
    color: white;
    margin: 0 auto;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 6px;
    h2,
    p {
      font-size: 18px;
      color: white;
      font-weight: 500;
      margin: 0;
      text-align: left;
    }
    p {
      &:last-child {
        margin-top: 10px;
      }
    }
    h2 {
      margin-top: 10px;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 6px;
      margin-bottom: 0;
      li {
        font-size: 16px;
        color: white;
        font-weight: 500;
      }
    }
  }
}
